@import url("https://fonts.googleapis.com/css2?family=Oxygen&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,700;1,100;1,300;1,500;1,700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #ded9d4;
}

.weather-app {
  margin: 0 20px;
}
